@import 'normalize.css/normalize';
@import 'milligram/dist/milligram';

.open-container {
  padding: 10px;
}

.source-container {
  display: inline-block;
}

.source-container strong {
  display: inline-block;
}

.source-container div {
  display:inline-block;
}

.source-container button {
  padding-left: 15px;
  padding-right: 15px;
}
